.citations li {list-style:none;}
.citations .contenu {margin-bottom:0;background:none !important;border:none !important;}
.citations .auteur {background:none !important;border:none !important;text-align:right;font-style:italic;margin-top:0;}